.Cover{
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/Abuzariii/IUB-Science-Promotion-Society/main/src/images/cover.jpg");
    background-size: 100%;
}
.logos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.l1{
    height: 90px;
}


/* Media Queries */
@media(max-width:800px) {
    .l1{
        height: 80px;
    }
}