.mainDiv{
    width: 43%;
    background-color: rgba(89, 87, 87, 0.5);
    border-radius: 4rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.Navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.item{
    margin-left: 45px;
    margin-right: 45px;
}
.item:hover{
    scale: 1.2;
    transition: 0.3s;
}
.toggle * {
    background-color: rgb(246, 241, 241, 0.4);
}





/* Media Queries */
@media(max-width:1500px){
    .item {
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media(max-width:1100px){
    .item {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media(max-width:800px){
    .mainDiv{
        margin-top: 0;
        border-radius: 1rem;
    }
}
@media(max-width:600px){
    .mainDiv{
        width: 70%;
    }
}