.footer {
    height: 70vh;
    width: 100%;
    background-color: rgb(35, 37, 48);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logoDiv{
    background-position: center;
    width: 20%;
    height: 30vh;
    background-image: url("../../images/Logos/fotor.png");
    background-size: 80%;
    background-repeat: no-repeat;
}
.iconsDiv{
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer > p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
}
@media(max-width:800px) {
    .logoDiv{
        width: 40%;
    }
}
@media(max-width:600px) {
    .footer > p{
        font-size: 1rem;
    }
    .logoDiv{
        width: 70%;
    }
}