@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.article{
    background-color: rgb(50, 54, 71);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.writer{
    color: rgb(178, 178, 184);
    margin: 30px;
    padding: 10px;
}
.container > p{
    margin-bottom: 50px;
    font-size: 20px;
    word-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
label{
    font-size: larger;
    font-weight: bolder;
    color: rgb(188, 188, 252);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
}
label > div{
    padding: 0 8px;
}
label > div > *{
    margin: 0 5px;
}
label > div > *:hover{
    cursor: pointer;
    color: black;
}

@media(max-width:700px){
    .writer{
        padding: 0;
    }
}